.App {
    text-align: center;
   
}

.App_header {
    height: 130px;
    margin: -16px 0px -16px 0px;
    background-color: blue;
}
.side_by_side {
    display: flex;
    flex-direction: row;
}

.App_main {
    height: 500px;
    width: 500px;
    background-color: green;
}


.App_side {
    height: 500px;
    width: 300px;
    background-color: yellow;
}



.App_footer {
    background-color: red;
    height: 150px;
    margin: -16px 0px -16px 0px;
}